<section class="features section">
	<div class="container">
		<h1 class="main-title title-features">features</h1>
		<div class="section-cross">
			<img src="img/icons/cross.png" alt="cross icon">
		</div>
		<ul class="features__list">
			<li class="features__item">
				<div class="features__block">
					<img src="img/features/config.png" alt="" class="features__item-bg">
					<span class="features__block-text">Born Identity: Bringing Burton Hardgoods to Life</span>
				</div>
			</li>
			<li class="features__item">
				<div class="features__block">
					<img src="img/features/snow.png" alt="" class="features__item-bg">
					<span class="features__block-text">Jeremy Jones: On That Street Grind</span>
				</div>
			</li>
			<li class="features__item">
				<div class="features__block">
					<img src="img/features/street-grind.png" alt="" class="features__item-bg">
					<span class="features__block-text">Burton’s Tokyo Rail Days Recap</span>
				</div>
			</li>
			<li class="features__item">
				<div class="features__block">
					<img src="img/features/tokyo-rail.png" alt="" class="features__item-bg">
					<span class="features__block-text">Burton’s Tokyo Rail Days Preview</span>
				</div>
			</li>
		</ul>
	</div>
</section>