<section class="footer section">
	<div class="container">
		<div class="menu">
			<ul class="menu__list">
				<li class="menu__item item-title">Products</li>
				<li class="menu__item"><a class="menu__link" href="#0">Mens</a></li>
				<li class="menu__item"><a class="menu__link" href="#0">Womens</a></li>
				<li class="menu__item"><a class="menu__link" href="#0">Youth</a></li>
			</ul>
			<ul class="menu__list">
				<li class="menu__item item-title">About</li>
				<li class="menu__item"><a class="menu__link" href="#0">Careers and Internships</a></li>
				<li class="menu__item"><a class="menu__link" href="#0">Sponsorships</a></li>
				<li class="menu__item"><a class="menu__link" href="#0">Team</a></li>
				<li class="menu__item"><a class="menu__link" href="#0">Catalog Request/Download</a></li>
			</ul>
			<ul class="menu__list">
				<li class="menu__item item-title">Customer Support</li>
				<li class="menu__item"><a href="#0" class="menu__link">Contact Us</a></li>
				<li class="menu__item"><a href="#0" class="menu__link">Shipping and Order Tracking</a></li>
				<li class="menu__item"><a href="#0" class="menu__link">Easy Returns</a></li>
				<li class="menu__item"><a href="#0" class="menu__link">Warranty</a></li>
				<li class="menu__item"><a href="#0" class="menu__link">Replacement Binding Parts</a></li>
			</ul>
			<ul class="menu__list">
				<li class="menu__item item-title">Newsletter</li>
				<li class="menu__item">
					<div class="mail">
						<input type="text" class="mail__input" placeholder="Enter your email">
						<button class="mail__button">Go</button>
					</div>
				</li>
				<li class="menu__item socials">
					<ul class="socials__list">
						<li class="socials__item"><a href="#0" class="socials__link">
							<img src="./img/icons/socials/facebook.svg" alt="" class="socials__icon">
						</a>
						</li>
						<li class="socials__item"><a href="#0" class="socials__link">
							<img src="./img/icons/socials/twitter.svg" alt="" class="socials__icon">
						</a>
						</li>
						<li class="socials__item"><a href="#0" class="socials__link">
							<img src="./img/icons/socials/insta.svg" alt="" class="socials__icon">
						</a>
						</li>
						<li class="socials__item"><a href="#0" class="socials__link">
							<img src="./img/icons/socials/google.svg" alt="" class="socials__icon">
						</a>
						</li>
						<li class="socials__item"><a href="#0" class="socials__link">
							<img src="./img/icons/socials/telegram.svg" alt="" class="socials__icon">
						</a>
						</li>
						<li class="socials__item"><a href="#0" class="socials__link">
							<img src="./img/icons/socials/youtube.svg" alt="" class="socials__icon">
						</a>
						</li>
					</ul>
				</li>
			</ul>
		</div>
		<div class="footer__bottom-side">
			<span class="footer__copyright">© 2019 Mountains Snowboards</span>
			<div class="footer__region">Change region</div>
		</div>
	</div>
</section>