<header class="header">
	<div class="header-container">
		<div class="header__left">
			<button class="hamb-menu" data-count="0">
				<span></span>
			</button>
			<div class="hidden-menu"></div>
			<div class="header-logo">
				<img src="img/icons/mountains-logo.png" alt="">
			</div>
			<ul class="header__list">
				<li class="header__item"><a class="header__link" href="#0">shop</a></li>
				<li class="header__item"><a class="header__link" href="#0">team</a></li>
				<li class="header__item"><a class="header__link" href="#0">events</a></li>
				<li class="header__item"><a class="header__link" href="#0">experience
				</a></li>
				<li class="header__item"><a class="header__link" href="#0">company</a></li>
				<li class="header__item"><a class="header__link" href="#0">contact</a></li>
			</ul>
		</div>
		<div class="header__right">
			<div class="search">
				<img src="img/icons/search-icon.svg" alt="" class="search-icon">
			</div>
			<div class="shopping-bag">
				<img src="img/icons/shopping_bag_icon.png" alt="" class="shopping-bag__icon">
				<span class="total-price">0$</span>
			</div>
		</div>
	</div>
	<form id="order" class="form">
		<label class="form__label">
			<span>Your Name: </span>
			<input type="text" class="form__name" placeholder="John Travolta">
		</label>
		<label class="form__label">
			<span>Email: </span>
			<input type="text" class="form__name" placeholder="example@gmail.com">
		</label>
		<label class="form__label">
			<span class="form__product">Product:
				<span class="form__product-result"></span>
			</span>
		</label>
		<label class="form__label">
			<span class="form__total">Total:
				<span class="form__total-result"></span>
			</span>
		</label>
		<label class="form__buttons">
			<button type="reset" class="form__cancel">Cancel</button>
			<button type="submit" class="form__submit">Buy</button>
		</label>
		
	</form>
</header>