<header class="header">
	<div class="header-container">
		<div class="header__left">
			<div class="header-logo">
				<img src="img/icons/mountains-logo.png" alt="">
			</div>
			<ul class="header__list">
				<li class="header__item"><a class="header__link" href="#0">shop</a></li>
				<li class="header__item"><a class="header__link" href="#0">team</a></li>
				<li class="header__item"><a class="header__link" href="#0">events</a></li>
				<li class="header__item"><a class="header__link" href="#0">experience</a></li>
				<li class="header__item"><a class="header__link" href="#0">company</a></li>
				<li class="header__item"><a class="header__link" href="#0">contact</a></li>
			</ul>
		</div>
		<div class="header__right">
			<div class="search">
				<img src="img/icons/search-icon.svg" alt="" class="search-icon">
			</div>
			<div class="shopping-bag">
				<img src="img/icons/shopping_bag_icon.png" alt="" class="shopping-bag__icon">
				<span class="total-price">€0</span>
			</div>
		</div>
	</div>

</header>