<section class="slider section">
	<h2 class="main-title slider-title">Snowboards</h2>
	<div class="subtitle">Aliquam erat volutpat. Curabitur ut consequat arcu eget laoreet est</div>
	<div class="section-cross">
		<img src="img/icons/cross.png" alt="cross icon">
	</div>
	<div class="slides">
		<div class="siema">
			<div class="slide">
				<img class="'slide__img" src="img/slider/burton_board.png" alt="">
			</div>
			<div class="slide">
				<img src="img/slider/custom_board.png" alt="" class="slide__img">
			</div>
			<div class="slide">
				<img src="img/slider/girl-teddy_board.png" alt="" class="slide__img">
			</div>
			<div class="slide">
				<img src="img/slider/hate_board.png" alt="" class="slide__img">
			</div>
			<div class="slide">
				<img src="img/slider/snake_board.png" alt="" class="slide_img">
			</div>
		</div>
		<button class="prev">PREV</button>
		<button class="next">NEXT</button>
	</div>
</section>