<section class="slider section">
	<h2 class="main-title slider-title">Snowboards</h2>
	<div class="subtitle">Aliquam erat volutpat. Curabitur ut consequat arcu eget laoreet est</div>
	<div class="section-cross">
		<img src="img/icons/cross.png" alt="cross icon">
	</div>
	<div class="slides">
		<div class="slider__container">
			<div class="slide">
				<img class="'slide__img" src="img/slider/burton_board.png" alt="">
				<h4 class="slide__desc">Burton snowboards</h4>
				<button type="button" class="buy-button" data-price="990">Add to cart</button>
			</div>
			<div class="slide">
				<img src="img/slider/custom_board.png" alt="" class="slide__img">
				<h4 class="slide__desc">Custom series</h4>
				<button type="button" class="buy-button" data-price="780">Add to cart</button>
			</div>
			<div class="slide">
				<img src="img/slider/girl-teddy_board.png" alt="" class="slide__img">
				<h4 class="slide__desc">Teddy burton boards</h4>
				<button type="button" class="buy-button" data-price="380">Add to cart</button>
			</div>
			<div class="slide">
				<img src="img/slider/hate_board.png" alt="" class="slide__img">
				<h4 class="slide__desc">The hate series</h4>
				<button type="button" class="buy-button" data-price="680">Add to cart</button>
			</div>
			<div class="slide">
				<img src="img/slider/snake_board.png" alt="" class="slide_img">
				<h4 class="slide__desc">Snowboard Extreme series</h4>
				<button type="button" class="buy-button" data-price="580">Add to cart</button>
			</div>
		</div>

	</div>
</section>