.features {
	padding: 125px 0;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	@include tablets {
		padding: 25px 0;
	}
}

.title-features {
	text-align: center;
	margin-bottom: 25px;
	@include tablets {
		margin-bottom: 0;
	}
}

.features__list {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}

.features__item {
	width: 25%;
	display: flex;
	align-items: center;
	flex-direction: column;
	@include tablets {
		width: 50%;
	}

}

.features__block {
	width: 220px;
	height: 160px;
	margin: 0 auto 20px auto;
	@include tablets {
		margin: 0 auto;
	}
	@include phone-XL {
		width: 190px;
		height: 138px;
	}
	@include phone-L {
		width: 175px;
		height: 127px;
	}
	@include phone-M {
		width: 160px;
		height: 116px;
	}
	@include phone-S {
		width: 130px;
		height: 94px;
	}
}

.features__block-text {
	text-transform: none;
	line-height: 30px;
	width: 220px;
	@include tablets {
		margin-bottom: 20px;
	}
	@include phone-XL {
		width: 190px;
	}
	@include phone-L {
		width: 175px;
		line-height: 23px;
	}
	@include phone-M {
		width: 160px;
	}
	@include phone-S {
		width: 130px;
		font-size: 12px;
	}
}

.features__item-bg {
	width: 100%;
	height: 100%;
}
