.features {
	padding: 125px 0;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	@include tablets {
		padding: 25px 0;
	}
}

.title-features {
	text-align: center;
	margin-bottom: 25px;
	@include tablets {
		margin-bottom: 0;
	}
}

.features__list {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	position: relative;
}

.features__item {
	width: 25%;
	display: flex;
	align-items: center;
	flex-direction: column;
	margin-bottom: 20px;
	@include tablets {
		width: 50%;
	}
}

.features__item-btn {
	background-color: transparent;
	border: none;
	text-align: left;
}

.features__block {
	width: 220px;
	height: 160px;
	margin: 0 auto 20px auto;
	@include tablets {
		margin: 0 auto;
	}
	@include phone-XL {
		width: 190px;
		height: 138px;
	}
	@include phone-L {
		width: 175px;
		height: 127px;
	}
	@include phone-M {
		width: 160px;
		height: 116px;
	}
	@include phone-S {
		width: 130px;
		height: 94px;
	}
}

.features__block-article {
	display: none;
}

.features__block-text {
	text-transform: none;
	line-height: 30px;
	width: 220px;
	@include tablets {
		margin-bottom: 20px;
	}
	@include phone-XL {
		width: 190px;
	}
	@include phone-L {
		width: 175px;
		line-height: 23px;
	}
	@include phone-M {
		width: 160px;
	}
	@include phone-S {
		width: 130px;
		font-size: 12px;
	}
}

.features__item-bg {
	width: 100%;
	height: 100%;
}

.features-article {
	width: 100%;
	height: fit-content;
	padding: 15px;
	border: 1px solid #00dcff;
	position: absolute;
	top: 50%;
	left: 50%;
	background-color: #fffff4;
	transform: translate(-50%, -50%);
}

.close-btn {
	width: 32px;
	height: 32px;
	background-color: #00dcff;
	border-radius: 50%;
	position: absolute;
	right: -11px;
	top: -11px;
	background-size: 20px;
	background-repeat: no-repeat;
	color: #fff;
	background-image: url(img/icons/close.png);
	background-position: center;
}

.image-content {
	width: 200px;
	height: 130px;
	float: left;
	margin-right: 15px;
	margin-bottom: 15px;
	@include all_phones {
		width: 100%;
		height: 200px;
	}
}

.article-text {
	text-transform: none;
	font-family: sans-serif;
	font-weight: 300;
}

.article-heading {
	font-size: 24px;
}

///// last changes

.features__tabs	{
    display: flex;
    align-items: center;
	justify-content: center;
	margin-bottom: 30px;
	overflow: hidden;
	border: 1px solid #ccc;
	background-color: #f1f1f1;
}

.features__button:hover {
	background-color: blue;
}

.active-tab {
	background-color: green;
}

.features__button {
	margin: 0 15px;
	background-color: inherit;
	float: left;
	border: none;
	outline: none;
	cursor: pointer;
	padding: 14px 16px;
	transition: 0.3s;
}

.features__list	{ //.tabcontent
	display: none;
	padding: 6px 12px;
	border: 1px solid #ccc;
	border-top: none;
	animation: fadeEffect 1s;
}

@keyframes fadeEffect {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}