.header {
	display: flex;
	background-color: #000;
	height: 110px;
	width: 100%;
}

.header__list {
	display: flex;
	justify-content: space-around;
	font-size: 13px;
	width: 100%;
}

.header__left {
	width: 50%;
	display: flex;
	align-items: center;
}
.header__right {
	width: 50%;
	display: flex;
	justify-content: flex-end;
}

.header__cor {
	color: red;
}

.header__link {
	text-decoration: none;
	color: #fff;
}

.search-icon {
	fill: #fff;
	width: 16px;
}

.search {
	align-items: center;
	display: flex;
	margin-right: 30px;
}

.shopping-bag {
	display: flex;
	align-items: center;
	&__icon {
		margin-right: 5px;
	}
}

.total-price {
	color: #fff;
	font-size: 13px;
}