.hero {
	background-image: url("img/hero-bg.png");
	background-size: cover;
	background-position: center;
	display: flex;
	align-items: center;
	justify-content: center;
	@include phone-XL {
		background-position: right;
	}
}

.hero-block {
	max-width: 500px;
	margin-right: 60px;
	display: flex;
	flex-direction: column;
	font-family: 'Proxima Nova Th', sans-serif;
	@include phone-XL {
		padding: 0 20px;
	}
	@include phone-L {
		margin: 0;
	}
}

.hero-block__title {
	color: #fff;
	font-size: 80px;
	margin-bottom: 30px;

	@include all_phones {
		font-size: 47px;
	}

}

.details-btn {
	width: 150px;
	cursor: pointer;
	height: 50px;
	background-color: black;
	border: none;
	color: #Fff;
	text-transform: uppercase;
	font-weight: bold;
	align-self: flex-end;
	&:hover {
		transition: all .2s;
		background-color: #fff;
		color: #000;
		border: 1px solid black;
	}
}