.mountains {
	background-image: url("img/second-bg.png");
	background-size: cover;
	background-position: center;
}

.mountains-text {
	width: 50%;
	color: #fff;
	font-size: 14px;
	font-family: 'Proxima Nova Lt', sans-serif;
	text-transform: none;
	line-height: 30px;
}