.slider {
	min-height: 840px;
	padding: 50px 0;
	@include phone-S {
		min-height: 740px;
	}
}

.slider-title {
	text-align: center;
	margin-bottom: 20px;
}

.subtitle {
	text-align: center;
	margin-bottom: 20px;
}

.slides {
	width: 100%;
	height: 450px;
}

.slick-slide {
	filter: grayscale(90%);
}

.slick-current {
	filter: grayscale(0%);
}

.slide__desc {
	top: 20px;
	overflow: auto;
	height: 35px;
	position: relative;
	display: none;
	margin-bottom: 15px;
	@include phone-XL {
		text-align: center;
		left: 0;
	}
}

.slick-next {
	right: 5%;
	top: 40%;
}

.slick-prev {
	left: 1%;
	top: 40%;
	z-index: 100;
}

.slick-prev:before, .slick-next:before {
	font-size: 80px;
	color: grey;
}

.slick-current .slide__desc {
	display: block;
}

.slick-current .buy-button {
	display: block;
}

.slick-slide img {
	@include tablets {
		margin: 0 auto;
	}
	@include phone-XL {
		margin: 0 auto;
	}
}

.buy-button {
	border: 1px solid red;
	background-color: #ff4500;
	padding: 5px;
	border-radius: 5px;
	text-transform: uppercase;
	display: none;
	color: #fff;
	font-weight: 600;
	&:hover {
		border: 1px solid red;
		color: #000;
		-webkit-transition: .3s;
		-moz-transition: .3s;
		-ms-transition: .3s;
		-o-transition: .3s;
		transition: .3s;
	}
}

.slide {
	width: 100%;
	flex-direction: column;
	display: flex !important;
	align-items: center;
}