.slider {
	min-height: 900px;
	padding: 50px 0;
}

.slider-title {
	text-align: center;
	margin-bottom: 20px;
}

.subtitle {
	text-align: center;
	margin-bottom: 20px;
}

.slides {
	width: 100%;
	height: 500px;
}

.slick-slide {
	filter: grayscale(90%);
}

.slick-current {
	filter: grayscale(0%);
}

.slide__desc {
	left: -25px;
	top: 20px;
	overflow: auto;
	height: 35px;
	position: relative;
}